
<div>
  <% Object.keys(groupedNames).sort().forEach(letter => { %>
    <div class="p-3 font-bold group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500">
      <%= letter %>
    </div>

    <ul class="list-unstyled contact-list">
      <% groupedNames[letter].forEach(user => { %>
        <li class="px-5 py-[15px]">
          <div class="flex items-center">
            <%- include('../../components/profile-pic.ejs', {user}) %>

            <div class="flex-grow">
              <h5 class="m-0 text-gray-700 text-14 dark:text-gray-50"><%= user.name %></h5>
            </div>

            <div class="relative flex-shrink-0 dropdown">
              <button class="p-0 text-gray-400 border-0 btn dropdown-toggle dark:text-gray-300" type="button" data-bs-toggle="dropdown" id="dropdownMenuButton-<%= user.name.replace(/\s+/g, '') %>">
                <i class="text-lg ri-more-2-fill"></i>
              </button>
              <ul class="absolute z-50 block w-40 py-2 my-6 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:left-auto ltr:right-0 dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:border-zinc-500/50 dark:shadow-sm" aria-labelledby="dropdownMenuButton-<%= user.name.replace(/\s+/g, '') %>">
                <li>
                  <a class="block w-full px-6 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-300 dark:hover:bg-zinc-500/50" href="#">
                    Share <i class="float-right text-gray-500 dark:text-gray-300 ri-share-line"></i>
                  </a>
                </li>
                <li>
                  <a class="block w-full px-6 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-300 dark:hover:bg-zinc-500/50" href="#">
                    Block <i class="float-right text-gray-500 dark:text-gray-300 ri-forbid-line"></i>
                  </a>
                </li>
                <li>
                  <a class="block w-full px-6 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-300 dark:hover:bg-zinc-500/50" href="#">
                    Remove <i class="float-right text-gray-500 dark:text-gray-300 ri-delete-bin-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li> 
      <% }); %>
    </ul>
  <% }); %>
</div>


