<li class="clear-both py-4">
  <div class="relative inline-flex items-end mb-6 text-right ltr:rtl:float-left ltr:float-right rtl:float-left">
      <div class="order-3 mr-0 ltr:ml-4 rtl:mr-4">
          <img src="<%- message.senderProfilePicture %>" alt="" class="rounded-full h-9 w-9">
      </div>
      <div>
          <div class="flex gap-2 mb-2 ltr:justify-end rtl:justify-start">
              <div class="relative order-2 px-5 py-3 text-gray-700 rounded-lg ltr:rounded-br-none rtl:rounded-bl-none bg-gray-50 dark:bg-zinc-700 dark:text-gray-50">
                  <p class="mb-0"><%- message.body %>
          </p>
                  <p class="mt-1 mb-0 text-xs text-left text-gray-500 dark:text-gray-300">
                      <i class="align-middle ri-time-line"></i>
                      <span class="align-middle"><%- message.created %></span>
                  </p>
                  <div class="before:content-[''] before:absolute before:border-[5px] before:border-transparent ltr:before:border-r-gray-50 ltr:before:border-t-gray-50 rtl:before:border-l-gray-50 rtl:before:border-t-gray-50 ltr:before:right-0 rtl:before:left-0 before:-bottom-2 ltr:dark:before:border-t-zinc-700 ltr:dark:before:border-r-zinc-700 rtl:dark:before:border-t-zinc-700 rtl:dark:before:border-l-zinc-700"></div>
              </div>
              <div class="relative self-start order-1 dropdown">
                  <a class="p-0 text-gray-400 border-0 btn dropdown-toggle dark:text-gray-100" href="#" role="button" data-bs-toggle="dropdown" id="dropdownMenuButton-<%= message._id.toString() %>">
                      <i class="ri-more-2-fill"></i>
                  </a>
                  <div class="absolute z-50 hidden py-2 my-6 text-left list-none bg-white border-none rounded shadow-lg ltr:right-auto ltr:left-0 xl:ltr:right-0 xl:ltr:left-auto rtl:right-0 rtl:left-auto xl:rtl:left-0 xl:rtl:right-auto dropdown-menu w-36 bg-clip-padding dark:bg-zinc-700" aria-labelledby="dropdownMenuButton-<%= message._id.toString() %>">
                      <%- include('../message-action.ejs') %>
                  </div>
              </div>
          </div>
          <div class="font-medium text-gray-700 rtl:text-left text-14 dark:text-gray-300"><%- message.senderName %></div>
      </div>
  </div>
</li>